body{
    display: flex;
    justify-content: center;
}






.laGrandeDiv{
width: 500px;
height: 630px;
background: rebeccapurple;
display: grid;
justify-content: center;


}
.divTitre{
    width: 400px;
    height: 80px;
    background: white;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    
    font-size: 3em;
    font-family: "inter",sans-serif;
}
.divProfil{
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
}
.divDesinput{
    width:400px;
    height:300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.divDesinput input{
    width: 400px;
    height: 63px;
    border-radius: 30px;60px;
 border-radius: 30px;
 border: none;
outline-style: none;
padding-left: 45px;
padding-right: 45px;
 font-family: "Poppins", sans-serif;
 font-weight: 300;
 font-style: normal;
 font-size: 1.5em;
 border-radius: 30px;

}


.divDesinput button{
 width: 180px;
 height: 60PX;
 border-radius: 30px;
 background-color: red;
 font-size: 1.5em;
 border: none;
 outline-style: none;
}
.divDesinput button:hover{
        background: black;
        color: white;
}
.divDesinput button:active{
    background: greenyellow;
    color: orange;
} 


 

